.full {
	height: 100vh;
}

.loader {
  margin-top: 24vh;
}

.random ,.randomMini {
  background: transparent;
  cursor:pointer;
  overflow: show;
  height: auto;
}
.random {
  margin-top: 24vh;
  width:200px;
}

.randomMini {
  width:95px;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}
.coucou {
  -webkit-animation-iteration-count: 1;
  -webkit-animation: coucou 0.9s both;
          animation: coucou 0.9s both;
}

.random:hover , .randomMini:hover { 
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
}
.loadingText , .aide {
  font-size: 12px;
  color: #757575;
  cursor: default;
}
.loadingText {
  font-weight: 500;
  padding-top: 25px;
}
.aide {
  position: relative;
  z-index: 3;
  transition: 0.5s;
  font-style: italic;
  opacity: 0.4;
}
.aide span {
  font-weight: 700;
  text-decoration: underline;
}
.displayHover:hover .aide {
  opacity: 1;
}

.blueHover {
  transition : 0.5s;
}
.blueHover:hover {
  color : #18c0f2;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}