
/*FOOTER*/
.footer {
  position: fixed;
  bottom: 1vh;
  right: 0;
  
  width: 100%;
  height: 100px;
}

.footerItem {
  transition: 0.3s;
  padding: 0px;
  margin: 0px;
  margin-left: 27px;
  height: 30px;
  width: 30px; 
}
.footerItem:hover  {
  background: transparent;
  cursor: pointer;
}
