@media screen and (orientation:portrait) {
	.header { 
		display: grid;
		justify-content: space-around;
	}
	.lateral {
		display: none;
	}
}

@media screen and (orientation:landscape) {
	.header { 
		display: flex;
		justify-content: space-around;
	}

}

@media (max-width: 1024px) {
    .lateral, .categorieImg  {
		display: none;
	}
		
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .lateral {
		display: grid;
	}
}