.card {
	margin : auto;
	margin-top:  12vh;
	width: 100vw;
	display: grid;
	justify-content: center;
}

.card li {
	cursor: default;
}

.profilTof:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.5); 
	border : solid 0.3px transparent;
}
.profilTof {
	padding: 3px;
	border : solid 0.3px #eceff1;
	border-radius: 360px;
	width: 150px;
	height: 150px;

}
/*
.profilInfoNatif * { 
	cursor : pointer;
}*/
/*NOM PRENOM*/
.profilName { 
	cursor: copy !important;
	font-family: 'Michroma', sans-serif;
	margin-bottom: 5px;
	margin-top: 8px;
}
.profilName .prenom { 
	font-weight: 600;
	font-size: 25px;
}
.profilName .prenom { 
	font-weight: 300;
	font-size: 22px;
}
/*DATE NAISSANCE*/
.profilInfoNatif h3 {
 
  	font-family: 'Heebo', sans-serif;

	margin-bottom: 15px;
	margin-top: 0px;
} 
.age {
	cursor: default !important;
  	font-family: 'Heebo', sans-serif;
  	margin-bottom: 6px !important;
}
.date {
	cursor: copy !important;
}
.city  {
	cursor: copy !important;

	margin-top: 0;
	text-align: center;
}
.zip {
	cursor: copy !important;
	font-family: 'Play', sans-serif;
	padding-left: 30px;
}
.metier {
	font-size: 22px;

	cursor : default;

	margin-top: 20px;
	margin-bottom: 5px;
}
.mail {
  	font-family: 'Heebo', sans-serif;
	font-size: 18px;
	cursor: copy !important;

	text-align: center;
	margin: 0;
}
.number {
	font-family: 'Play', sans-serif;
	cursor: copy !important;
	
	padding-left: 30px;
}

/*ICONS*/

.profilTofContainer {
	display:grid;
	width: 60px;
}
.profilIcon , .profilIconBank {
	cursor: pointer;
	width: 30px;
	height: 30px;
	
	/*margin: 15px;*/
	border-radius: 360px;
	border : solid 0.3px transparent;

	/*margin: auto;*/
	padding: 3px;
	margin-bottom: 20px;
}

.profilIconContainer {
	width: 500px;
	display: flex;
	justify-content: space-around;
}

.profilIcon:hover ,.profilIconBank:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.5); 
	border : solid 0.3px transparent;
}
