.identifiant {
  position: fixed;
  top: 60vh;
  left: 0vw;
  width: 100vw;
  background: white;
}
.society {
  text-align: center;
  margin-top: 24vh;
  width:100%;
}

.societyName, .societyAddress {
  cursor: default;
}
.societyName {
  font-size: 65px;
  font-family: 'Londrina Outline', cursive;
  margin-bottom: 0;
  z-index: 2;
}
.societyAddress {
  margin-top: 0;
  font-family: 'Heebo', sans-serif;
  font-style : italic;
  font-size: 18px;
  color: #757575;
  z-index: -1;
}

figure {
  margin: none;
}

pre, code {
  cursor: default;
  /*font-family: monospace, monospace;*/
  transition: 0.5s;
  width: 100vw;
  height:90px;
  overflow: none;
  scroll-behavior: none;
}

pre {
  margin: auto;
  border-radius: 3px;
  overflow: auto;
  text-align: center;
}
pre > code {
  /*padding: 1rem;*/
  font-family: 'Play', sans-serif;

  font-size: 70px;
  word-wrap: normal;
}
.code:hover {
  color : #c4c2ca;
  transition: 1s;
}

select {
  overflow: none;
  scroll-behavior: none;
  color: purple;
  border : none;
  border-bottom: none;
  /*background: white;*/
  background: transparent;

}

